#container
{
	display:grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: 200px,200px,1fr,1fr,1fr,1fr,1fr;
}
body{
	background-image: url('pictures/image1.jpg');
	 background-repeat: no-repeat;
	 background-attachment: fixed;
	background-size: cover;
}
.imgg{
	width:100px;
	height:100px;
	background-size:cover;
}
#image
{
	
	grid-column:1/2;
}
#header1
{
	grid-column:2/4;
	color:black;
	font-size: 13px;	
}
#about-us{
	grid-row:2/3;
	grid-column:1/4;
	font-size:16px;
}

#paragraph
{
	grid-row:3/4;
	grid-column:1/4;
	font-family: "Times New Roman", Times, serif;
	color:black;
	font-size:19px;
}

#Inquire{
	
	grid-row:4/5;
	grid-column:1/4;
	background-color: white;
	background-size: auto;
	border: 2px solid black;
	padding: 25px;
	font-size: 16px;
}
#complaint
{
	grid-row:5/6;
	grid-column:1/4;
	background-color: white;
	background-size: auto;
	border: 2px solid black;
	padding: 25px;
	font-size: 16px;
	
}
#New
{
	grid-row:6/7;
	grid-column:1/4;
	background-color: white;
	background-size: auto;
	border: 2px solid black;
	padding: 25px;
	font-size: 16px;
}

#follow{
	grid-row:7/8;
	grid-column:1/4;
	position: relative;
	top: 50px;
	font-size: 18px;
	color:white;
	font-weight:bold;
	
}
button {
  background-color: #ff6961;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  cursor: pointer;
}
 input[type=text] {
  border: 2px solid black;
  border-radius: 4px;  
  width: 100%;
  padding: 9px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 12px;
}
select {
    border: 2px solid black;
    border-radius: 4px;  
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 12px;
    }

#container2{
	display:grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: 200px,200px,1fr,1fr,1fr,1fr,1fr,1fr;
		
}
#image{
	
	grid-column:1/2;
}
#header1
{
	grid-column:2/4;
	font-family: "Times New Roman", Times, serif;
	font-size: 13px;	
}
#title{
	
	grid-row:2/3;
	grid-column:1/4;
	text-align:center;
	color:white;
	font-size: 16px;	
}
#p1{
	
	grid-row:3/4;
	grid-column:1/4;
	font-size: 21px;
}
#additional-header{
	grid-row:4/5;
	grid-column:1/4;
	text-align:center;
	color:white;
	font-size:16px;
}
#information{
	grid-row:5/7;
	grid-column:1/4;
	font-size: 19px;
	
}
#button1{
	grid-row:7/8;
	grid-column: 1/4;
	position:relative;
	left: 30px;
	
}
#button2{
	grid-row:7/8;
	grid-column:3/4;
	position:relative;
	right: 15px;
	
}
#footer1{
	grid-row:8/9;
	grid-column:1/4;
	position: relative;
	top: 50px;
	font-size: 18px;
	color:white;
	
}



#container3{
	display:grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: 200px,1fr,1fr,1fr,1fr,1fr,1fr;
}
#image{
	grid-column:1/2;
}
#header1
{
	grid-row:1/2;
	grid-column:2/4;
	font-family: "Times New Roman", Times, serif;
	font-size: 13px;	
}

#title2{
	
	grid-row:2/3;
	grid-column:1/4;
	text-align:center;
	color:white;
	font-size: 14px;
	
}
#p2{
	grid-row:3/4;
	grid-column:1/4;
	font-size: 21px;
}
#additional-header2{
	grid-row:4/5;
	grid-column:1/4;
	text-align:center;
	color:white;
	font-size:16px;
}
#information2{
	
	grid-row:5/8;
	grid-column:1/4;
	font-size: 19px;
	
}
#button3{
	grid-row:8/9;
	grid-column:1/4;
	position:relative;
	left: 10px;
	
}
#button4{
	grid-row:8/9;
	grid-column:3/4;
	position:relative;
	right: 10px;
	
}
#des{
	width:100%;
	height:150px;
}
#footer2{
	grid-row:9/10;
	grid-column:1/4;
	position: relative;
	top: 50px;
	font-size: 18px;
	color:white;
	
}

	
#container4{
	display:grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: 200px,1fr,1fr,1fr,1fr,1fr,1fr,1fr,1fr,1fr;

}	
#image{
	
	grid-column:1/2;
}
#header1
{
	grid-row:1/2;
	grid-column:2/4;
	font-family: "Times New Roman", Times, serif;
	font-size: 13px;	
}

#title3{
	grid-row:2/3;
	grid-column:1/4;
	text-align:center;
	color:white;
	font-size: 14px;
}
#p3{
	grid-row:3/4;
	grid-column:1/4;
	font-size: 21px;
}	

#title4{
	grid-row:4/5;
	grid-column:1/4;
	text-align:center;
	color:white;
	font-size: 14px;
}
#p4{
	grid-row:5/6;
	grid-column:1/4;
	font-size: 21px;
}
#additional-header3{
	grid-row:6/7;
	grid-column:1/4;
	text-align:center;
	color:white;
	font-size:16px;
}
#information3{
	grid-row:7/9;
	grid-column:1/4;
	font-size: 19px;
}
#button5{
	grid-row:9/10;
	grid-column:1/4;
	position:relative;
	left: 10px;
}
#button6{
	grid-row:9/10;
	grid-column:3/4;
	position:relative;
	right: 10px;
}
#footer3{
	grid-row:10/11;
	grid-column:1/4;
	position: relative;
	top: 50px;
	font-size: 18px;
	color:white;
}
#container5{
	display:grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(9,100px);

}
#image{
	
	grid-column:1/2;
}
#header1
{
	grid-row:1/2;
	grid-column:2/4;
	font-family: "Times New Roman", Times, serif;
	font-size: 13px;	
}
#title5{
	grid-row:2/3;
	grid-column:1/4;
	text-align:center;
	color:white;
	font-size: 16px;
	
}
#subsecription-number{
	
	grid-row:3/4;
	grid-column:1/4;
	text-align:center;
	font-size: 21px;
	font-weight:bold;
	border-style: double;
	border-color:lightblue;
}
#First-date-for-payment{
	grid-row:4/5;
	grid-column:1/4;
	text-align:center;
	font-size: 21px;
	font-weight:bold;
	border-style: double;
	border-color:lightblue;
}
#Last-date-for-payment{
	grid-row:5/6;
	grid-column:1/4;
	text-align:center;
	font-size: 21px;
	font-weight:bold;
	border-style: double;
	border-color:lightblue;
}
#Amount-to-be-paid{
	grid-row:6/7;
	grid-column:1/4;
	text-align:center;
	font-size: 21px;
	font-weight:bold;
	border-style: double;
	border-color:lightblue;
}
#button7{
	grid-row:7/8;
	grid-column:2/4;
	position:relative;
	
	
	margin-top: 20px;
	
}
#footer4{
	grid-row:8/9;
	grid-column:1/4;
	position: relative;
	top: 25px;
	font-size: 18px;
	color:white;
	
}

@media (min-width: 768px)
{

	.imgg{
	width:200px;
	height:150px;	
	}
	button {
	font-size: 20px;
	}
	
	#header1{
	font-size: 25px;
	}
	#about-us{
	font-size: 20px;
	}

	#paragraph{
	font-size: 20px;
	}
	#Inquire{
	grid-column:1/2;
    }
	#complaint
	{
	grid-row:4/5;	
	grid-column:2/3;
	}
	#New
	{
	grid-row:4/5;	
	grid-column:3/4;
	}
	#follow{
	color:black;
	grid-row:5/6;
	}
	
	input[type=text] {  
	width: 100%;
	font-size: 17px;
	}
	select {
    font-size: 17px;
    }
		
	
	#container2{
	grid-template-columns: min-content auto;
	grid-template-columns: 200px,200px,1fr,1fr,1fr,1fr,1fr,1fr,1fr;
	
	}
	#title{
	grid-row:2/4;	
	grid-column:1/2;
	text-align:left;
	font-size: 20px;
	}
    #p1{
	grid-row:2/4;
    grid-column:2/4;	
	font-size: 20px;
	}
	#additional-header{
	grid-row:6/7;
	grid-column:1/4;
	text-align:left;
	font-size:20px;
	}
	#information{
	grid-row:5/8;
	grid-column:2/4;
	}
	#button1{
	grid-row:8/9;
	left: 15%;
	margin-top: 10px;
	}
	#button2{
	grid-row:8/9;	
	left: 25%;
	margin-top: 10px;
	}
	#footer1{
	grid-row:9/10;	
	color:black;		
	}
	
	
	#container3{
	grid-template-columns: min-content auto;
	grid-template-rows: 200px,200px,1fr,1fr,1fr,1fr,1fr,1fr,1fr;
	}
	#title2{
	grid-row:2/4;	
	grid-column:1/2;
	text-align:left;
	font-size: 20px;
	}
	#p2{
	grid-row:2/4;
    grid-column:2/4;	
	font-size: 20px;
	}
	#additional-header2{
	grid-row:6/7;
	grid-column:1/4;
	text-align:left;
	font-size:20px;
	}
	#information2{
	grid-row:5/8;
	grid-column:2/4;
	}
	#des{
	width: 98%;
	height: 120px;		
	}
	#button3{
	margin-top: 30px;
	grid-row:8/9;
	left: 20%;
	
	}
	#button4{
	margin-top: 30px;
	grid-row:8/9;
	right: 250%;
	}
	#footer2{
	grid-row:9/10;	
	color:black;		
	}
	


	#container4{
	grid-template-columns: min-content auto;
	grid-template-rows: 200px,200px,1fr,1fr,1fr,1fr,1fr,1fr,1fr;
	}
	#title3{
	grid-row:2/4;	
	grid-column:1/2;
	text-align:left;
	font-size: 20px;
	}
	#p3{
	grid-row:2/4;
    grid-column:2/4;	
	font-size: 20px;
	}	
	#title4{
	grid-row:4/5;
	grid-column:1/4;
	text-align:left;
	word-spacing: 100vw;
	font-size:20px;
	}
	#p4{
	grid-row:4/6;
	grid-column:2/4;	
	}
	#additional-header3{
	grid-row:7/8;
	grid-column:1/4;
	text-align:left;
	font-size:20px;
	}
	#information3{
	grid-row:6/9;
	grid-column:2/4;	
	}
	#button5{
	grid-row:9/10;
	
	left: 20%;
	}
	#button6{
	grid-row:9/10;
	right: 90px;
	}
	#footer3{
	grid-row:10/11;
	color: black;
	}
	
	#title5{
	grid-row:3/4;
	font-size: 20px;
	color:black;
	}
	
	#subsecription-number{
	grid-row:4/5;
	font-size: 25px;
	border-style: double;
	border-color:lightblue;
	}
	
	#First-date-for-payment{
	grid-row:5/6;
	font-size: 25px;
	border-style: double;
	border-color:lightblue;
	}
	#Last-date-for-payment{
	grid-row:6/7;
	font-size: 25px;	
	border-style: double;
	border-color:lightblue;
	}
	#Amount-to-be-paid{
	grid-row:7/8;
	font-size: 25px;
	border-style: double;
	border-color:lightblue;
}
	#button7{
	grid-row:8/9;	
	left: 140px;
	margin-top: 20px;
	
	}
	#footer4{
	grid-row:9/10;
	color: black;
	}
	
}
	
	
	
	
	
	
	
	
	

	
   

  

